/* This file is for styles not explicitly taken from the EDB wireframe */

.sidebar {
  width: 300px; /* sidebar was expanding occasionally */
}

.toc-sticky {
  position: sticky;
  top: 0;
}

.overflow-scroll {
  overflow: scroll;
}

.balance-text {
  text-wrap: balance; /* Apply (proposed) CSS style */
}

.fixed-container {
  min-width: 1320px;
}

.toctree {
  display: none;
}

.ais-Hits {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  mark {
    @extend .bg-primary;

    font-weight: bolder;
    color: white;
  }

  .dropdown-item {
    white-space: normal;
  }
}

pre {
  code {
    color: white;
    background: none;
  }
}

code {
  background-color: $light;
  border-radius: $border-radius;
  padding: map-get($spacers, 1);
  color: $code-color;
}
