.ais-Hits {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  mark {
    background-color: rgba($orange, 0.05);
    border-bottom: 1px solid $orange;
    font-weight: bolder;
  }

  .dropdown-item {
    white-space: normal;
  }
}

.search-form {
  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: $input-bg;
}

.search-form.open, .search-form:focus-within {
  border: 1px solid $blue;
  background-color: $white;

  input {
    background-color: $white;
  }

  .slash-indicator {
    display: none;
  }
}

.slash-indicator {
  width: 27px;
  height: 24px;
  border: 1px solid $gray-500;
  border-radius: $border-radius;
}

.dropdown-menu {
  margin: 0;
  border: 1px solid $blue;
  top: calc(100% - 2px);
  border-top-color: $input-border-color;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}

.search-tabs .nav-link.active {
  border-top: 2px solid $orange;
  margin-top: -2px;
}

.search-tabs {
  border-top: 1px solid $input-border-color;
}

.search-tab .stats { 
  position: relative;
  top: -6px;
}

.search-content {
  height: 410px;
  overflow: scroll;
  -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}
