@font-face {
  font-family: "Signika";
  src: url("Signika-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Signika";
  src: url("Signika-Bold.ttf") format("truetype");
  font-weight: bold;
}


/*@font-face {
  font-family: "Signika";
  src: url("Signika-VariableFont_wght.ttf") format("truetype");
}*/

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Italic.ttf") format("truetype");
  font-style: italic;
}

body {
  font-size: 28px;
  font-family: Signika;
  font-weight: normal;
}

body::before {
  content: ' ';
  font-family: sans-serif;
}

pre {
  font-family: Source Code Pro;
  font-weight: normal;
}

p, table, ul, pre {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 7rem;
  border-top: 1px solid #ebeff2;
}


/* TOC */
#TOC ul {
  margin-bottom: 0;
}

#TOC {
  page-break-after: always;
}


/* Code */
code {
  border-radius: .2rem;
  padding: .3rem;
  color: #457a00;
  background-color: #f0f4f7;
  white-space: pre-wrap;
}

pre code {
  color: black;
  background-color: #f8f8f8; /* match SourceCode pandoc highlighting colors */
  white-space: pre-wrap !important; /* SourceCode pandoc will override otherwise */
}

pre {
  background-color: #f8f8f8; /* match SourceCode pandoc highlighting colors */
  border-radius: .2rem;
  padding: .3rem;
}

/* Tables */
table {
  margin-top: 2rem;
  text-align: left;
  border-collapse: collapse;
  width: 100% !important;
  /*word-break: break-word;*/
}

thead {
  font-weight: bold;
}

tbody tr {
  border-top: 1px solid #ebeff2;
}

th, td {
  padding: 0.3rem 0;
  padding-right: 1rem;
}
